/*== 
 * Vuejs & TailwindCSS Portfolio Main CSS File
 * Powered by: @NangialaiStoman
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Styles Below */

body {
	font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4 {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 500 !important;
}

/* Theme Colors */
