/*== 
 * Vuejs & TailwindCSS Portfolio Main Styling CSS File
 * Powered by: @NangialaiStoman
*/

.theme-light {
	--bg-background-primary: white;
	--bg-background-secondary: #f7fafc;
	--bg-background-tertiary: #e2e8f0;

	--bg-background-form: white;

	--text-copy-primary: #2d3748;
	--text-copy-secondary: #4a5568;

	--border-border-color-primary: white;
}

.theme-light .search-highlighted {
	background: #f0fff4;
}

.theme-light .search-hover:hover {
	background: #f0fff4;
}

.theme-dark .markdown-body {
	color: #24292e;
}

.theme-dark .search-highlighted {
	background: #2d3748;
}

.theme-dark .search-hover:hover {
	background: #2d3748;
}

.theme-dark {
	--bg-background-primary: #0d2438;
	--bg-background-secondary: #102c44;
	--bg-background-tertiary: #1e3951;

	--bg-background-form: #1a202c;

	--text-copy-primary: #cbd5e0;
	--text-copy-secondary: #e2e8f0;

	--border-border-color-primary: #1a202c;
}

.theme-dark .markdown-body {
	color: #cbd5e0;
}

.theme-dark nav .active {
	@apply border-white border-b;
}

.content-wrapper {
	transition: background-color 0.25s;
}
