@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
	/*
    ** Light Mode: Background Colors Variables
    */
	--bg-background-primary: #f7f8fc;
	--bg-background-secondary: #ffffff;
	--bg-background-ternary: #f6f7f8;
	/*
    ** Light Mode: Body Text Colors Variables
    */
	--text-liText-primary: rgba(107, 114, 128, 1);
	--text-liText-secondary: rgba(75, 85, 99, 1);
	--text-liText-ternary: rgba(31, 41, 55, 1);
}

.theme-dark {
	/*
    ** Dark Mode: Background Colors Variables
    */
	--bg-background-primary: #0d2438;
	--bg-background-secondary: #102d44;
	--bg-background-ternary: #1e3851;
	/*
    ** Dark Mode: Body Text Colors Variables
    */
	--text-liText-primary: #ffffff;
	--text-liText-secondary: #f7f8fc;
	--text-liText-ternary: #f6f7f8;
}
